env_variables:
  CLOUDSQL_CONNECTION_NAME: "<?php echo @$_SERVER['CLOUDSQL_CONNECTION_NAME'] ?>"
  CLOUDSQL_DB_USER: "<?php echo @$_SERVER['CLOUDSQL_DB_USER'] ?>"
  CLOUDSQL_DB_PASSWORD: "<?php echo @$_SERVER['CLOUDSQL_DB_PASSWORD'] ?>"
  CLOUDSQL_DB_NAME: "<?php echo @$_SERVER['CLOUDSQL_DB_NAME'] ?>"
